<!DOCTYPE html>
<html>
<head>
	<title>PROJECT 01</title>
	<meta charset='utf-8'/>
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  	<!-- Bootstrap + jQuery -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	  <script src="https://code.jquery.com/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	{% include 'header.html' %}

	<div class="main">
		<div class="join_wrap">
			<div class="join_title">
				<p>회원가입</p>
			</div>
			<form target="/join/" method="post" class="join_form">
			  	<input type="text" name="user_id" placeholder="아이디">
			  	<br>
			  	<input type="password" name="user_pw" placeholder="비밀번호">
			  	<br>
			  	<input type="text" name="user_name" placeholder="닉네임">
			  	<br>
			  	<input type="email" name="email" placeholder="이메일">
			  	<br>
			  	<button type="submit">Join</button>
			</form>
		</div>
	</div>
	
	{% include 'footer.html' %}
</div>
</body>
</html>